* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 3000px;
  background-color: rgb(235, 235, 235);
}
.main-container {
  background-image: url("/test-4/image/family-camping-at-sunset.jpg");
  background-repeat: no-repeat; /* Ensures the image is not repeated */
  background-size: cover; /* Makes the image cover the entire area */
  background-position: center; /* Center the image */
  background-attachment: fixed; /* Keeps the image fixed in place */
  height: 100vh; /* Full viewport height */
  width: 100vw;

  & > nav {
    background-color: #333;
    position: fixed; /* Fixed position */
    top: 0; /* Stick it to the top */
    left: 0;
    width: 100vw;
    z-index: 2;

    & p {
      font-size: large;
      color: white;
      padding: 22px;
      cursor: pointer;
    }

    & > ul {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 30px;
      list-style: none;
      margin-top: -70px;
      margin-right: 33px;
      cursor: pointer;

      & > li {
        margin-bottom: 22px;
        color: aliceblue;
        font-size: large;
        padding: 10px;
        margin-top: 10px;
      }
    }
  }

  & > .text-content {
    position: absolute;
    top: 30%;
    left: 15%;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    line-height: 55px;
    z-index: 1;

    & > p {
      text-align: center;
    }

    & > button {
      padding: 15px;
      border: none;
      border-radius: 9px;
      margin-left: 100px;
      font-size: medium;
    }
    & > button:hover {
      background-color: transparent; /* Makes background transparent */
      color: aliceblue;
      cursor: pointer;
      border: 2px solid white;
    }
  }
}

.text-center {
  text-align: center;
  margin: 66px;
  font-weight: bold;
}
.Service-section {
  display: flex;
  justify-content: space-evenly;

  & > .box {
    background-color: white;
    width: 400px;
    margin: 30px;
    text-align: center;
    padding: 30px;
    box-shadow: -5px -5px 8px grey, 5px 5px 8px grey;

    & img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}

.about-section {
  padding-left: 50px;
  margin: 22px;
  padding: 22px;
  font-size: 1.2rem;
  /* border: 1px solid red; */
}
.team {
  margin: 44px;

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 22px;
  }
}

.contact {
  display: flex;
  justify-content: space-evenly;
  /* gap: 30px; */

  & > .info {
    & > .contact-info {
      margin: 15px;
      /* margin-left: 100px; */
    }
  }

  & > .message-box {
    & input {
      margin: 17px;
      height: 50px;
      width: 460px;
    }

    & #sms-box {
      height: 50px;
      width: 460px;
      margin-top: 18px;
      margin-left: 16px;
    }

    & button {
      margin-left: 18px;
      background-color: #4e4c4c;
      margin-top: 18px;
      padding: 10px;
      color: white;
      border: none;
      border-radius: 5px;
    }

    & button:hover {
      background-color: #333;
    }
  }
}
